/* FORMAT RULES PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FORMAT RULES */
.main-flex {
    height: calc(100vh - 100px );
    display: flex;
}

.control-bar {
    height: 100px;
    background-color: #282828;
}

.left-bar {
    width: 200px;
    background-color: black;
    flex-shrink: 0;
}

.your-header {
    height: 100px;
}

.your-page {
    width: calc(100% - 200px);
    background-color: #141922;
}



/* CENTRALIZED RULES */






/* DEBUG */




/* STYLE RULES */



