/* FORMAT RULES PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

li {
    list-style-type: none;
}

/* FORMAT RULES */
.main-flex {
    height: calc(100vh - 80px);
    display: flex;
}

.control-bar {
    height: 80px;
    background-color: #282828;
}

.left-bar {
    width: 200px;
    background-color: black;
    flex-shrink: 0;
    position: relative;
}

.your-header {
    height: 100px;
    background-color: rgb(8, 11, 18, 0.5);
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
}

.your-page {
    /* width: calc(100% - 200px); */
    background-color: #141922;
    font-weight: 600;
}

.nav-bar {
    margin-top: 20px;
}

.nav-bar a {
    padding: 10px;
}

.img-width {
    width: 200px;
}

.card-padding {
    padding-top: 20px;
    margin-bottom: 20px;

}

.top-pad {
    padding-top: 10px;
}

.created-for-you figure {
    margin-bottom: 30px;
}

.artists {
    display: flex;
    gap: 15px;
}

.big-logo {
    padding-top: 20px;
    margin-bottom: 20px;
}

.pad-move {
    padding-left: 5px;
}

.left-image {
    width: 30px;
}

.left-bar h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.left-plus {
    margin-left: 10px;
    font-size: 50px;
}

.move-menu {
    margin-top: 10px;
    margin-left: 15px;
}

.li-pad {
    padding: 10px 10px 10px 0;
}

.left-playlist ul {
    max-height: 150px;
}

.little-image {
    width: 15px;
}

.track-icons {
    padding-top: 20px;
    margin-left: 30px;
}

.pad-icon {
    padding-right: 30px;
}

.track-name {
    margin-left: 10px;
}

.track-image {
    width: 50px;
}

.player {
    margin-top: 15px;
}

.volume-icons {
    margin-right: 10px;
    margin-top: 5px;
}

.play-size {
    font-size: 30px;
}




/* CENTRALIZED RULES */

.white {
    color: white;
    font-weight: 700;
}

.white-icon {
    color: white;
}

.grey {
    color: #7A7D81;
    font-weight: 700;
}

.grey-icon {
    color: grey;
}

.your-page-title {
    margin-top: 20px;
    font-weight: 800;
}

.text-center {
    text-align: center;
}

.margin-page {
    margin-left: 20px;
}


.round {
    border-radius: 50%;
}

.flex-left {
    display: flex;
    align-items: center;
}

.overflow {
    overflow: scroll;
    scrollbar-color: grey black;
    scrollbar-width: thin;
    overflow-x: hidden;
}

.icon-padding {
    padding-right: 30px;
}


/* DEBUG */




/* STYLE RULES */

.nav-bar {
    display: flex;
    justify-content: center;
}

.your-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upgrade-button {
    margin-right: 50px;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 50px;
}

.your-playlist {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.playlist-card {
    width: calc((100%/6) - (75px/5));
}

.created-for-you {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.artists-card {
    margin-top: 40px;
}

.create-flex {
    display: flex;
}

.left-bottom {
    position: absolute;
    bottom: 0;
}

.profile-icon {
    background-color: grey;
    border-radius: 60%;
    height: 30px;
}

.account {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid grey;
}

.control-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player {
    width: 30%;
}

.volume {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volume-bar {
    width: 30%;
    background-color: grey;
    height: 5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

.volume-progress {
    width: 50%;
    background-color: white;
    height: 5px;
    border-radius: 10px;
}

.progress {
    width: 40%;
}

.progress-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.volume-bar-middle {
    width: 80%;
}